<!DOCTYPE html>
<html>
  <head>
    <title>Gram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <li class="">
      <%= link_to 'マイページ', user_path(current_user.id) %>
    </li>
    <%= yield %>
  </body>
</html>
